#header {
	:root:not(.custom-title-bar) & {
		display: none;
	}
	
	z-index: 99999999999999;
	
	--header: 29px;
	:root.is-maximized & {
		--header: 23px;
	}
	
	--padding: 0px;
	height: var(--header);
	-webkit-app-region: drag;
	
	background: #0007;
	
	> .title {
		font-size: 10pt;
		padding: calc(var(--header) * .15) 10px;
		color: #fff9;
	}
	
	.breadcrumb {
		-webkit-app-region: no-drag;
		&:hover {
			color: #fff;
		}
	}
}

@import "window-controls";