.dropdown {
    position: relative;
	padding-right: 25px !important;
	&::after {
		content: "";
		display: block;
		position: absolute;
		right: 8px;
		top: calc(50% - 1px);
		border: 5px solid transparent;
		border-top-color: currentColor;
	}
}

.dropdown-wrapper {
    position: fixed;
	background: black;
	overflow-y: auto;
	overflow-x: visible;
	z-index: 4;
	
	&.transparent {
		pointer-events: none;
	}

	> .option {
		position: relative;
		width: 100%;
		margin: 0;
		border: none !important;
		box-shadow: none !important;
	}
}