#character-editor {
	z-index: 2;
	
	> * {
		width: 100%;
		height: auto;
		max-width: calc(100vw - 150px);
		max-height: calc(100vh - 100px);
		text-align: center; 
		display: grid;
		grid-template-rows: 1fr auto;
	}
}

.character-editor-action-row {
	width: 100%;
	text-align: center;
}

.character-wrapper {
	margin-bottom: 15px;
	overflow: auto;
	padding: 0 15px;
}

.character {
	--height: 70px;
	--background: transparent;
		
	height: var(--height);
	text-align: left;
	position: relative;
	font-size: calc(var(--height) / 2);
	padding: 0;
	--padding-top: 8px;
	padding-top: var(--padding-top);
	--padding-left: calc(var(--height) * 1.25);
	padding-left: var(--padding-left);
	width: calc(435px + var(--padding-left));
	margin: 10px;
	box-sizing: border-box;
	
	&::before {
		content: "";
		display: block;
		position: absolute;
		height: var(--height);
		width: var(--height);
		top: 0;
		left: 0;
		background: var(--headshot);
		background-size: contain;
	}
		
	&:hover, &:focus {
		background: #5559;
		border-color: #555b;
		box-shadow: 0 1px 2px #0003;
	}
	
	:not(.moving) > &:active {
		background: #5554;
		border-color: #5554;
		box-shadow: inset 0 1px 2px #0002;
	}
	
	.moving > & {
		background: #444;
		border-color: #555;
	}
	
	&.selected {
		box-shadow: 0 0 0 3px #318bff;
	}
	
	textarea {
		margin: 0;
		margin-top: calc(var(--padding-top) * -1);
		width: 100%;
		height: var(--height);
		padding-top: 8px;
		box-sizing: border-box;
		font-size: inherit;
		vertical-align: middle;
		border: none !important;
		
		.moving > & {
			background: transparent;
		}
	}
}