#extractor {
    position: relative;
    height: 100%;
    display: grid;
	grid-template-columns: 1fr auto;
}

.page-wrapper {
	background: #0004;
	position: relative;
	height: 100%;
	overflow: hidden;
	
	&::before {
		content: "";
		display: block;
		position: fixed;
		left: var(--capture-x);
		top: var(--capture-y);
		width: var(--capture-w);
		height: var(--capture-h);
		box-shadow: 0 0 0 2000px transparent;
		z-index: 1;
		pointer-events: none;
		transition: box-shadow .05s ease-in-out .2s;
	}
	
	.selecting > &::before {
		box-shadow: 0 0 0 2000px #3339;
		transition: box-shadow .05s ease-in-out;
	}
	
	> * {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		
		> img {
			--zoom: 0;
			display: block;
			max-width: calc(100% + (var(--natural-width) - 100%) * var(--zoom));
			max-height: calc(100% + (var(--natural-height) - 100%) * var(--zoom));
			margin: auto;
			-webkit-user-drag: none;
			transition: opacity .1s ease-in-out, height 0s linear;
			
			&.transparent {
				height: 0;
			}
		}
	}
}

.extraction-actions {
	background: #fff1;
	
	> .float-right {
		float: right;
	}
}

.extraction-drawer {
	position: relative;
	z-index: 1;
	width: 40vw;
    max-width: 600px;
	display: grid;
	grid-template-rows: auto 1fr;
}

.extraction-captures-wrapper {
	position: relative;
	height: 100%;
}

.extraction-captures {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	padding: 10px 0;
	box-sizing: border-box;
}

.capture {
	padding: 10px;
	display: grid;
	grid-template-columns: 60px 1fr;
	grid-template-rows: 1fr auto;
	min-height: 15vh;
	box-sizing: border-box;
	cursor: -webkit-grab;
	
	> * {
		cursor: auto;
		pointer-events: none;
		> * {
			pointer-events: all;
		}
	}
	
	&:hover, &.sorting {
		background: #0003;
	}
	
	> * {
		position: relative;
		
		&:first-child {
			grid-row: 1/3;
		}
	}
	
	img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		box-shadow: 0 0 0 1000px transparent;

		transition: all .05s ease-in-out;
		transition-property: box-shadow, max-height, max-width;
		z-index: 1;
		
		&:not(:hover) {
			max-height: 150px;
			max-width: 50px;
		}
		
		&:hover {
			max-height: 300px;
			max-width: 200px;
			box-shadow: 0 0 0 1000px #333c;
			z-index: 2;
		}
	}
	
	textarea {
		padding: 5px 10px;
		box-sizing: border-box;
		height: calc(var(--height) * 1.2em + 1.1vh);
		width: 100%;
		background: #0003;
		border: none;
		color: inherit;
		resize: none;
		font-family: inherit;
		font-size: 1.5vw;
		font-weight: 100;
		margin: 5px 0;
	}
	
	.japanese {
		font-family: var(--font-ja);
	}
	
	.translation {
		height: calc(var(--height) * 1.4em + 1.1vh);
	}
	
	.notes {
		pointer-events: none;
		padding: 5px 0;
		box-sizing: border-box;
		position: relative;
		--sorting-wrapper-height: auto;
		height: var(--sorting-wrapper-height);
	}
}

.note {
	:not(:focus-within) * > * > &.empty {
		display: none;
	}
	
	&:not(.empty), & > * {
		pointer-events: all;
	}
	
	/*
	.sorting > :not(.sorting) > * > * > &, :not(:hover):not(:focus-within):not(.sorting) > * > * > & {
		display: none;
	}
	*/
	
    display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;
	cursor: -webkit-grab;
	
	&.sorting {
		cursor: -webkit-grabbing;
	}
	
	&.sorting, &:hover, &:focus-within {
		background: #0003;
	}
	
	> * {
		cursor: auto;
	}
	
	.japanese {
		max-width: 13vw;
	}
}
